.input_paragraph {
  font-family: "Roboto", sans-serif;
  color: var(--Dark-Slate-Grey);
  font-size: 9px;
  font-weight: 700;
  margin-bottom: 0.4rem;
}

input {
  height: 2.5rem;
  width: 90%;
  border-radius: 0.3rem;
  color: var(--Grey);
  border: solid 0.1rem;
  padding-left: 1rem;
  font-family: "Roboto", sans-serif;
  color: var(--Grey);
  margin-bottom: 1rem;
}

.error-message {
  display: none;
  font-family: "Roboto", sans-serif;
  color: #e39c99;
  font-size: 9px;
  font-weight: 700;
  margin-bottom: 0.4rem;
}

.error {
  color: #e39c99;
  background: #ffe8e6;
}

.paragraph_container{
display: flex;
gap: 10rem;
}



@media (max-width: 700px) {
  .input_paragraph {
    font-size: 12px;
    margin-top: 1rem;
  }
  input {
    height: 3rem;
    border-radius: 0.5rem;
  }

  input {
    touch-action: manipulation;
  }
}
